#art_ctn {
    padding: 1rem;
}

.art_box {
    padding: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    border-radius: 10px;
}

article, article div {
    margin-top: 1rem;
}

article div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

article div p {
    margin-right: 1rem;
}

img {
    width: 30%;
}

p {
    text-align: justify;
}

.box {
    opacity: 0;
    z-index: 50;
    transform: scale(0, 0);
}

.favorite {
    background-color: #000;
}

.favorite i {
    color: #feee7d;
}

h3 {
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.checkBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.checkDiv {
    width: 30%;
}

.checkBox label {
    color: #fff;
}

.artcat_ctn {
    margin-top: 0;
}